In [1]:
import json
import pandas as pd

In [2]:
with open('../data/json/podcast_reviews.json') as file:
        df = pd.DataFrame(json.load(file))

In [3]:
df['reviews'].map(len).sort_values()

1240       0
1371       0
1659       0
2316       0
1283       0
        ...
912     7492
3335    7497
3386    7621
2236    7891
4374    8009
Name: reviews, Length: 4460, dtype: int64

In [4]:
pd.set_option('display.max_colwidth', None)

In [5]:
df.loc[df.reviews.str.len() == 31]

                       title                          reviews
399  Digital Marketing Daily   Highly recommend! Enough said.